[submodule "object_keypoints_ros"]
	path = object_keypoints_ros
	url = git@github.com:ethz-asl/object_keypoints_ros.git
[submodule "sampling_based_control"]
	path = sampling_based_control
	url = git@github.com:ethz-asl/sampling_based_control.git
